.middle-page{
    display: block;
    height: 800px;
}
.aloy-background{

    background: #000000;
    position: relative;
}
.green-background{
    display: block;
    left: 0;
    right: 0;
    padding-left: 10px;
    background: linear-gradient(180deg, #2AA07D 0%, rgba(3, 224, 158, 0.38) 100%);
    position: absolute;
    height: 400px;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

    text-align: center;

    color: #FFFFFF;
}
.pharagraph{    
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    justify-content: right;
}
.aloy-background-content{
    position: absolute;
}
