.middle-page{
    display: flex;
    height: 800px;
    justify-content: center;
    position: relative;
}
.aloy-background{
    background: 
    color= black, linear-gradient(180deg, #2AA07D 0%, rgba(3, 224, 158, 0.38) 100%) center center / 800px 400px no-repeat, 
}

/*.green-background{
    display: block;
    left: 0;
    right: 0;
    padding-left: 10px;
    background: linear-gradient(180deg, #2AA07D 0%, rgba(3, 224, 158, 0.38) 100%);
    position: absolute;
    height: 400px;
}
*/ 

.title{
    margin-left: 300px;
    margin-top: 100px;
    display: flex;
    left: 800px;
    top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}
.pharagraph{   
    margin-left: 300px; 
    display: flex;
    justify-content: center;
    left: 600px;
    top: 250px;
    width: 500px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    justify-content: right;
}

.logo-horizon{
    position: absolute;
    width: 200px;
    left: 39%;
    top: 80%;
}
.logo-ps5{
    position: absolute;
    width: 200px;
    left: 55%;
    top: 80%;

}
.aloy-img{   
    object-fit: cover;  
    position: absolute; 
    width: 500px;
    left: 10%;
    top: 50px;

}
.play-now{
    position: absolute;
    object-fit: cover;
    object-position: right; 
    background: rgba(0, 255, 240, 0.2);    
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px 30px;
    font-family: Montserrat;
    color: white;
    font-weight: 600;
    border: 0;
    transition: border .15s, background-color .15s;
    left: 850px;
    top: 600px;
    transition: border .15s, background-color .15s;
}

.play-now:hover{
    cursor: pointer;
    border: 1px solid rgba(0, 255, 240, 0.2);
    background-color: transparent;
}
