.main-page{
  position: relative;
}

.main-page-picture{
  display: flex;
  transition: box-shadow .15s;
  z-index: 5;
}

.main-page-picture:hover{
  box-shadow: inset 0 0 700px black;
}

.main-page-picture-item{
  width: 100%;
  height: 900px;
  object-fit: cover;
  z-index: -1;
}

.main-page-call-to-action{
  position: absolute;
  top: 25%;
  right: 25%;
  left: 35%;
  width: 700px;
}

.main-page-call-text{
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 0;
  color: white;
}

.main-page-call-button{
  background: rgba(250, 255, 0, 0.2);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 30px;
  font-family: Montserrat;
  color: white;
  font-weight: 600;
  border: 0;
  transition: border .15s, background-color .15s;
}

.main-page-call-button:hover{
  border: 1px solid rgba(250, 255, 0, 0.2);
  background-color: transparent;
  cursor: pointer;
}

.main-page-text-description{
  position: absolute;
  left: 35%;
  width: 600px;
  bottom: 50px;
  text-align: center;
}

.main-page-text-description-item{
  color: white;
}
